<ion-header>
  <ion-toolbar>
    <ion-title>
      About Me
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card ion-text-center">
      <img src="/assets/header.png" alt="" />
      <ion-card-header>
        <ion-card-title>My Name is Joyce</ion-card-title>
        <ion-card-subtitle>I'm new to Ionic</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>I just created my first Ionic App! I have been going through the Ionic Tutorials since last week and I think I love the Framework!I have learnt about Ion Components such as ion card, ion content, ion app, ion grid, ion nav, ion router and many <a href="https://ionicframework.com/docs/components" target="blank" style text-decoration = "none">more...</a></p>
      </ion-card-content>
    </ion-card>
    <!--will be trying option buttons and buttons here-->
    <ion-card>
      <!--content here-->
    </ion-card>
</ion-content>
